<div id="divMyDashboard">
    <headerbar user="user" currentpage="currentpage"></headerbar>
        <div id="myDashboardBody">
            <div id="boardsFilter" class="width100">
                <div class="boardListWrapper">
                    <ul id="boardlist">
                        <li>
                            <div class="boardSelect" ng-model="selectedBoard">{{ selectedBoard }}<span class="caret white-caret"></span></div>
                            <ul id="board_list_links">

                                <li ng-repeat="board in boards">
                                    <a ng-click="filterByBoard(board)">{{ board.name }}</a>
                                </li>
                                <li>
                                    <a ng-click="filterByBoard({ id :'',name:'Select Board' })">Select Board</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dashoboardWrap">
                <img src="Content/Images/pin_icon.png" class="pin_img1" />
                <div id="myMentions" class="section" ng-model="allMentions">
                    <mentions mentionslist="mentions"></mentions>
                </div>
                <img src="Content/Images/pin_icon.png" class="pin_img2" />
                <div id="myActivities" class="section" ng-model="actions">
                    <activities actions="actions" user="user"></activities>
                </div>
                <img src="Content/Images/pin_icon.png" class="pin_img3" />
                <div id="myCalendar" class="section" ng-model="dueCards">
                    <h3><center>Due Cards</center></h3>
                    <br />
                    <fullcalendar ui-if="selectedBoardId" user="user" selectedboardid="selectedBoardId" /></fullcalendar>
                </div>
            </div>
        </div>
</div>